/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blog.css ***!
  \****************************************************************/
/* Base Setup */
html {
  font-size: 62.5%;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  padding-top: 8rem;
  background-color: #ECEFEC;
}

/* ================= NAVBAR ================= */

.main-nav {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(1.2rem);

  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.4);

  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.05);
}

.nav-container {
  max-width: 120rem;
  margin: auto;

  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.logo-main {
 font-size: 2.9rem;
  color: #f04a24;
 letter-spacing: 0.1rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.logo-sub {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: #555;
}

/* Menu Button */
.menu-btn {
  font-size: 2.6rem;
  cursor: pointer;
  color: #333;

  transition: color 0.3s ease, transform 0.2s ease;
}

.menu-btn:hover {
  color: #f04a24;
  transform: scale(1.1);
}


/* ================= MOBILE MENU ================= */

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30rem;
  height: 100vh;

  background: #ffffff;

  z-index: 2000;

  padding: 3rem 2.5rem;

  transition: right 0.4s ease;
}

/* Show Menu */
.mobile-menu.active {
  right: 0;
}

/* Close Button */
.close-btn {
  text-align: right;
  font-size: 2.4rem;
  cursor: pointer;
}

/* Logo */
.mobile-logo {
  margin: 3rem 0 4rem;
}

.mobile-logo h2 {
 font-size: 2.9rem;
  color: #f04a24;
 letter-spacing: 0.1rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.mobile-logo p {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: #555;
}

/* Links */
.mobile-links {
  list-style: none;
  margin-bottom: 4rem;
}

.mobile-links li {
  font-size: 1.8rem;
  margin: 2rem 0;
  cursor: pointer;
  color: #555;
}
.mobile-links li a{
    text-decoration: none;
      color: #555;
}
.mobile-links li.active a {
    text-decoration: none;
      color:#f04a24;
}

.mobile-links li.active {
  color: #f04a24;
  font-weight: 600;
}

/* Give Button */
.give-btn {
  width: 100%;
  padding: 1.5rem;

  font-size: 1.6rem;

  background: #f04a24;
  color: white;

  border: none;
  border-radius: 1.2rem;

  cursor: pointer;
}

.give-btn:hover {
  opacity: 0.9;
}

/* ================= HERO ================= */

.hero {
  position: relative;

  width: 100%;
  height: 50vh;

  overflow: hidden;
}


/* Background Image */
.hero-img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
    object-position: center; 

  object-fit: cover;
  z-index: -2;
}


/* Gradient Overlay */
.hero::after {
  content: "";

  position: absolute;
  inset: 0;

  background: #f0492427;

  z-index: -1;
}


/* Content */
.hero-content {
  position: relative;

  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 2rem;
  color: #ffffff;
}


/* Badge */
.badge {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  background-color: rgba(86, 86, 86, 0.384);

  padding: 0.6rem 1.6rem;

  border-radius: 3rem;

  font-size: 1.3rem;
  font-weight: 700;

  margin-bottom: 0.2rem;
}


/* Badge Icon */
.badge-icon {
  width: 2.4rem;
  height: 2.4rem;
    filter: brightness(0) saturate(100%) invert(47%) sepia(92%)
    saturate(2555%) hue-rotate(345deg) brightness(102%) contrast(101%);

}


/* Heading */
.hero-content h1 {
  font-size: 8.6rem;
 letter-spacing: 0.1rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.2rem;
}


.hero-content h1 span {
  font-style: italic;
  font-weight: 400;
}


/* Text */
.hero-content p {
  max-width: 56rem;

  font-size: 1.5rem;
  line-height: 1;

  opacity: 0.9;

  margin-bottom: 2.6rem;
}



/* Divider */
.line {
  width: 6rem;
  height: 0.3rem;

  background-color: #ffffff;

  border-radius: 1rem;

}


/* ================= SLIDE UP ANIMATION ================= */

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Apply to Content */
.hero-content > * {
  opacity: 0;

  animation: slideUpFade 1.9s ease-out forwards;
}


/* Stagger Effect */
.hero-content > *:nth-child(1) {
  animation-delay: 0.2s;
}

.hero-content > *:nth-child(2) {
  animation-delay: 0.4s;
}

.hero-content > *:nth-child(3) {
  animation-delay: 0.6s;
}

.hero-content > *:nth-child(4) {
  animation-delay: 0.8s;
}


